.about_left{
   
    position: absolute;
    z-index: -1;
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(30, 36, 62, 0.7),rgba(4,9,30,0.7)),url(../Images/About-img.jpg);
    background-position: center;
    background-size: cover;
}
.about_right{
    position: absolute;
    top:24%;
    right: 5%;
    width: 55vw;
   color: whitesmoke;
   text-align: center;
    
}
