/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Reset default styles */
body {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Footer Styles */
.footer {

    background-color: rgb(6, 69, 87);   
    color: #fff;
    position: absolute !important;
    bottom: 0 !important;
    top: 100%;
    height: 45vh;
    letter-spacing: 1px;
    width: 100vw;
    padding: 50px 0;
}
.store_foot{
    margin-top: 65%;
}


.foot-container {
    max-width: 1200px;
    margin: auto;
}

.foot-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    margin-bottom: 20px;
}

.footer-col ul {
    list-style-type: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col a {
    color: #fff;
    text-decoration: none;
}

.footer-col a:hover {
    color: #aaa;
}

.footer-col p {
    font-size: 14px;
    margin-top: 20px;
}

.social-links a {
    display: inline-block;
    margin-right: 10px;
    color: #fff;
    font-size: 24px;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #aaa;
}
